html,
body,
h1 {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
html {
  width: 100%;
  font-size: 10px;
}
html,
body,
#root {
  height: 100%;
}
body {
  /* page setting */
  --font-size: 1.5rem;
  --header-height: calc(5*var(--font-size));
  --page-min-width: 300px;
  margin: auto;
  width: 70%;
  min-width: var(--page-min-width);
  border-left: 1px black solid;
  border-right: 1px black solid;
  font-size: var(--font-size);
}
body header {
  width: 100%;
  height: var(--header-height);
}
body .page {
  width: 100%;
  height: calc(100% - var(--header-height));
  overflow: hidden;
}
